/*browser-sync --start --server --files "**/
/*" --no-notify*/
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 19px;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 1500px;
  align-items: center;
}
.message {
  text-align: center;
  background: #f1f3fe;
  padding: 27px 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.message br {
  display: none;
}
.message .container {
  display: inline;
  position: relative;
}
.message .container .close_message {
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.message .container .close_message:before {
  position: absolute;
  left: 24px;
  content: ' ';
  height: 29px;
  width: 1px;
  background-color: #333;
  transform: rotate(45deg);
}
.message .container .close_message:after {
  position: absolute;
  left: 24px;
  content: ' ';
  height: 28px;
  width: 1px;
  background-color: #333;
  transform: rotate(-45deg);
}
.message.active {
  display: none;
}
header {
  padding: 30px 0;
  position: relative;
}
header .btn_menu_media {
  display: none;
}
header .btn_menu_media_close {
  display: none;
}
header .btn_settings_media {
  display: none;
}
header .popup_settings {
  display: none;
  position: absolute;
  padding: 30px 26px 11px;
  width: 320px;
  background: #ffffff;
  top: 100px;
  right: 0;
  z-index: 99999;
  -webkit-box-shadow: -1px 11px 22px -1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -1px 11px 22px -1px rgba(34, 60, 80, 0.2);
  box-shadow: -1px 11px 22px -1px rgba(34, 60, 80, 0.2);
}
header .popup_settings li {
  margin-bottom: 19px;
}
header .popup_settings li a {
  color: #212121;
}
header .popup_settings.active {
  display: block;
}
header .logo {
  width: 16%;
  margin-right: 40px;
}
header .logo .logo1 {
  display: none;
}
header .search {
  width: 32%;
  background: #e8eaf4;
  padding: 12px 27px;
}
header .search form {
  display: flex;
  align-items: center;
}
header .search form input {
  width: 100%;
  background: #e8eaf4;
}
header .search form .text-2 {
  display: none;
}
header .search form img {
  width: 25px;
  height: 25px;
}
header .nav_items {
  display: flex;
  align-items: center;
}
header .nav_items img {
  width: 25px;
  height: 25px;
}
header .nav_items .qq {
  position: relative;
}
header .nav_items .qq.active {
  display: none;
}
header .nav_items .ww {
  display: none;
  right: 0;
  top: 0;
  cursor: pointer;
}
header .nav_items .ww:before {
  position: absolute;
  content: ' ';
  height: 25px;
  width: 1px;
  top: 50px;
  right: 110px;
  background-color: #333;
  transform: rotate(45deg);
}
header .nav_items .ww:after {
  position: absolute;
  right: 110px;
  content: ' ';
  height: 25px;
  width: 1px;
  top: 50px;
  background-color: #333;
  transform: rotate(-45deg);
}
header .nav_items .ww.active {
  margin-right: 35px;
  display: block;
}
header .nav_items button {
  margin-left: 40px;
  display: flex;
  align-items: center;
}
header .nav_items button img {
  margin-right: 9px;
  width: 26px;
  height: 35px;
}
.wrap_nav {
  background: #303f9f;
  width: 100%;
  padding: 19px 0;
  display: flex;
  justify-content: center;
}
.wrap_nav .catigories {
  width: 100%;
}
.wrap_nav .catigories ul {
  display: flex;
  justify-content: space-between;
}
.wrap_nav .catigories ul li {
  font-size: 19px;
}
.wrap_nav .catigories ul li a {
  color: cornsilk;
}
.main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 60px;
}
.main .container {
  flex-direction: column;
}
.main .items_main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main .items_main b {
  font-size: 38px;
  margin-bottom: 20px;
}
.main .wrapp_slider {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
}
.main .swiper-slide {
  text-align: center;
  font-size: 18px;
  height: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  text-align: left;
}
.main .swiper-slide .sl {
  color: #212121;
}
.main .swiper-slide .sl p {
  margin-top: 10px;
  font-size: 21px;
  line-height: 150%;
}
.main .swiper-slide .sl h1 {
  margin-top: 17px;
}
.main .swiper-slide .sl h1 b {
  font-size: 29px;
}
.main .swiper-slide .sl h1:hover {
  color: #2d60c8;
}
.main .swiper-slide .sl img {
  width: 94%;
  /*
                height: 56%; */
}
.main .swiper-slide .sl .event {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.main .swiper-slide .sl .event img {
  width: 28px;
  height: 28px;
  margin-right: 15px;
}
.main .swiper-slide .sl .event b {
  font-size: 25px;
}
.main .swiper-slide .sl .event .event_items {
  display: flex;
  margin-right: 50px;
}
@media (max-width: 760px) {
  .main .swiper-button-next {
    right: 20px;
    transform: rotate(90deg);
  }
  .main .swiper-button-prev {
    left: 20px;
    transform: rotate(90deg);
  }
}
.footer {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  background: #303f9f;
}
.footer .wrap_footer {
  border-bottom: 1px solid #4855aa;
  padding: 67px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer .wrap_footer .logo {
  width: 22%;
}
.footer .wrap_footer ul {
  margin-right: 60px;
}
.footer .wrap_footer li {
  font-size: 30px;
  margin-bottom: 16px;
}
.footer .wrap_footer a {
  color: #fff;
}
.footer .wrap_footer nav {
  display: flex;
}
.footer .container {
  align-items: flex-start;
  flex-direction: column;
}
.footer .container p {
  color: #929496;
  padding: 18px 0 30px;
  font-size: 19px;
}
.popup_city {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.popup_city .message {
  position: absolute;
  top: 0;
}
.popup_city .popup_body {
  background: #ffffff;
  padding: 42px;
  width: 425px;
  height: 735px;
  position: relative;
}
.popup_city .popup_body .popup_close {
  cursor: pointer;
}
.popup_city .popup_body .popup_close:before {
  position: absolute;
  right: 42px;
  content: ' ';
  height: 20px;
  width: 2px;
  top: 42px;
  background-color: #333;
  transform: rotate(45deg);
}
.popup_city .popup_body .popup_close:after {
  position: absolute;
  right: 42px;
  top: 42px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #333;
  transform: rotate(-45deg);
}
.popup_city.active {
  visibility: inherit;
}
.popup_event {
  bottom: 50px;
  right: 150px;
  position: fixed;
  background: #ffffff;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  z-index: 99999;
  -webkit-box-shadow: -1px 11px 22px -1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -1px 11px 22px -1px rgba(34, 60, 80, 0.2);
  box-shadow: -1px 11px 22px -1px rgba(34, 60, 80, 0.2);
  cursor: pointer;
}
.popup_event:before {
  position: absolute;
  left: 33px;
  content: ' ';
  height: 22px;
  width: 3px;
  top: 27px;
  background-color: #303f9f;
  transform: rotate(0deg);
}
.popup_event:after {
  position: absolute;
  left: 33px;
  content: ' ';
  height: 22px;
  width: 2px;
  top: 27px;
  background-color: #303f9f;
  transform: rotate(90deg);
}
.popup_event .items_event {
  display: none;
  color: black;
  width: 310px;
  position: absolute;
  top: -110px;
  right: 0;
  background: #ffffff;
  padding: 15px 35px;
  z-index: 99999;
  -webkit-box-shadow: -1px 11px 22px -1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -1px 11px 22px -1px rgba(34, 60, 80, 0.2);
  box-shadow: -1px 11px 22px -1px rgba(34, 60, 80, 0.2);
}
.popup_event .items_event ul {
  text-decoration: none;
}
.popup_event .items_event ul li a {
  display: flex;
  align-items: center;
}
.popup_event .items_event ul li a img {
  margin-right: 15px;
  width: 10%;
}
.popup_event .items_event li {
  margin-bottom: 15px;
}
.popup_event .items_event.active {
  display: block;
}
.popup_event.active:before {
  position: absolute;
  left: 33px;
  content: ' ';
  height: 22px;
  width: 2px;
  top: 27px;
  background-color: #303f9f;
  transform: rotate(45deg);
}
.popup_event.active:after {
  position: absolute;
  left: 33px;
  content: ' ';
  height: 22px;
  width: 2px;
  top: 27px;
  background-color: #303f9f;
  transform: rotate(-45deg);
}
.menu_media {
  display: none;
}
.menu_media_items {
  display: none;
}
.settings_media {
  display: none;
}
.add_activities {
  display: none;
}
.setting_items {
  display: none;
}
@media screen and (max-width: 1640px) {
  .wrapper {
    font-size: 14px;
  }
  .container {
    width: 1200px;
  }
  .message {
    padding: 27px 0;
  }
  .message .container .close_message:before {
    left: 10px;
    height: 20px;
    width: 1px;
  }
  .message .container .close_message:after {
    left: 10px;
    height: 20px;
    width: 1px;
  }
  .wrap_nav {
    padding: 16px 0;
  }
  .wrap_nav .catigories ul li {
    font-size: 14px;
  }
  header .logo {
    width: 16%;
  }
  header .search {
    width: 30%;
  }
  header .search form img {
    width: 20px;
    height: 20px;
  }
  header .nav_items .ww:before {
    height: 20px;
    top: 48px;
    right: 88px;
  }
  header .nav_items .ww:after {
    right: 88px;
    height: 20px;
    top: 48px;
  }
  header .nav_items .ww.active {
    margin-right: 30px;
  }
  header .nav_items button {
    margin-left: 40px;
  }
  header .nav_items button img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
  header .popup_settings {
    width: 250px;
    top: 80px;
  }
  .main {
    margin: 60px;
  }
  .main .items_main b {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .main .items_main .swiper-slide {
    font-size: 18px;
  }
  .main .items_main .swiper-slide .sl p {
    font-size: 16px;
  }
  .main .items_main .swiper-slide .sl h1 b {
    font-size: 22px;
  }
  .main .items_main .swiper-slide .sl .event img {
    width: 20px;
    height: 20px;
  }
  .main .items_main .swiper-slide .sl .event b {
    font-size: 18px;
  }
  .footer .wrap_footer li {
    font-size: 20px;
  }
  .footer .container p {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    font-size: 14px;
  }
  .container {
    width: 90vh;
  }
  .message {
    font-size: 13px;
    padding: 27px 0;
  }
  .message .container .close_message {
    top: -3px;
  }
  .message .container .close_message:before {
    left: 10px;
    height: 20px;
    width: 1px;
  }
  .message .container .close_message:after {
    left: 10px;
    height: 20px;
    width: 1px;
  }
  .wrap_nav {
    padding: 16px 0;
  }
  .wrap_nav .catigories ul li {
    font-size: 14px;
  }
  .wrap_nav .catigories ul .items_li {
    display: none;
  }
  header .logo {
    margin-right: 20px;
    width: 20%;
  }
  header .search {
    width: 33%;
  }
  header .search form img {
    width: 20px;
    height: 20px;
  }
  header .search form .text-1 {
    display: none;
  }
  header .search form .text-2 {
    display: inline;
  }
  header .nav_items .ww:before {
    top: 42px;
    right: 18px;
  }
  header .nav_items .ww:after {
    top: 42px;
    right: 18px;
  }
  header .nav_items .ww.active {
    margin-right: 30px;
  }
  header .nav_items button {
    margin-left: 20px;
  }
  header .nav_items button .item_sity {
    display: inline;
  }
  header .nav_items button p {
    display: none;
  }
  header .nav_items button img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
  .main .items_main b {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .main .items_main .swiper-slide {
    font-size: 18px;
  }
  .main .items_main .swiper-slide .sl p {
    font-size: 16px;
  }
  .main .items_main .swiper-slide .sl h1 b {
    font-size: 22px;
  }
  .main .items_main .swiper-slide .sl .event img {
    width: 20px;
    height: 20px;
  }
  .main .items_main .swiper-slide .sl .event b {
    font-size: 18px;
  }
  .footer .wrap_footer li {
    font-size: 14px;
  }
  .footer .container p {
    font-size: 10px;
  }
  /*popups*/
  .popup_event {
    bottom: 30px;
    right: 30px;
  }
}
@media screen and (max-width: 375px) {
  .wrapper {
    font-size: 14px;
    align-items: flex-start;
  }
  .container {
    width: 335px;
  }
  a {
    color: #000;
  }
  .message {
    font-size: 12px;
    padding: 10px 0;
    text-align: left;
  }
  .message br {
    display: inline;
  }
  .message .container {
    padding: 5px 15px;
  }
  .message .container .close_message {
    top: 9px;
    right: -15px;
  }
  .message .container .close_message:before {
    left: 10px;
    height: 20px;
    width: 1px;
  }
  .message .container .close_message:after {
    left: 10px;
    height: 20px;
    width: 1px;
  }
  header {
    background: #303f9f;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  header .btn_menu_media {
    display: block;
  }
  header .wrap_btn_menu_media {
    cursor: pointer;
    width: 30px;
    height: 30px;
  }
  header .wrap_btn_menu_media .menu_media_item {
    display: block;
    width: 5px;
    height: 5px;
    background: #fff;
    position: relative;
    margin: 0 15px 7px;
  }
  header .wrap_btn_menu_media .menu_media_item:before {
    position: absolute;
    left: -14px;
    content: ' ';
    height: 5px;
    top: 0px;
    width: 5px;
    background: #fff;
  }
  header .wrap_btn_menu_media .menu_media_item:after {
    position: absolute;
    left: 13px;
    content: ' ';
    height: 5px;
    top: 0px;
    width: 5px;
    background: #fff;
  }
  header .wrap_btn_menu_media.active {
    display: none;
  }
  header .btn_menu_media_close {
    display: none;
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
  }
  header .btn_menu_media_close:before {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 44px;
    top: -7px;
    width: 3px;
    border-radius: 50px;
    background-color: #ffffff;
    transform: rotate(45deg);
  }
  header .btn_menu_media_close:after {
    position: absolute;
    left: 15px;
    top: -7px;
    content: ' ';
    height: 43px;
    width: 3px;
    border-radius: 50px;
    background-color: #fff;
    transform: rotate(-45deg);
    background: rgba(233, 35, 55, 0.8);
  }
  header .btn_menu_media_close.active {
    display: block;
  }
  header .btn_settings_media {
    cursor: pointer;
    display: inline;
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;
    position: relative;
  }
  header .btn_settings_media:before {
    content: ' ';
    position: absolute;
    top: -12px;
    right: 0;
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;
  }
  header .btn_settings_media:after {
    content: ' ';
    position: absolute;
    top: 12px;
    right: 0;
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;
  }
  header .container {
    justify-content: space-between;
  }
  header .logo {
    margin-right: 0px;
    width: 40%;
  }
  header .logo .logo2 {
    display: none;
  }
  header .logo .logo1 {
    display: inline;
  }
  header .search {
    width: 33%;
    display: none;
  }
  header .search form img {
    width: 20px;
    height: 20px;
  }
  header .search form .text-1 {
    display: none;
  }
  header .search form .text-2 {
    display: inline;
  }
  header .nav_items {
    display: none;
  }
  header .nav_items .ww:before {
    top: 42px;
    right: 18px;
  }
  header .nav_items .ww:after {
    top: 42px;
    right: 18px;
  }
  header .nav_items .ww.active {
    margin-right: 30px;
  }
  header .nav_items button {
    margin-left: 20px;
  }
  header .nav_items button .item_sity {
    display: inline;
  }
  header .nav_items button p {
    display: none;
  }
  header .nav_items button img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
  .wrap_nav {
    display: none;
  }
  .main .items_main b {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .main .items_main .swiper-slide {
    font-size: 18px;
  }
  .main .items_main .swiper-slide .sl p {
    font-size: 16px;
  }
  .main .items_main .swiper-slide .sl h1 b {
    font-size: 22px;
  }
  .main .items_main .swiper-slide .sl .event img {
    width: 20px;
    height: 20px;
  }
  .main .items_main .swiper-slide .sl .event b {
    font-size: 18px;
  }
  .footer .wrap_footer {
    padding: 45px 0;
    display: inline;
    justify-content: start;
  }
  .footer .wrap_footer .logo {
    width: 75%;
    margin-left: -6px;
  }
  .footer .wrap_footer ul {
    margin-right: 50px;
  }
  .footer .wrap_footer li {
    font-size: 12px;
  }
  .footer .wrap_footer nav {
    display: flex;
  }
  .footer .container {
    width: 335px;
  }
  .footer .container p {
    font-size: 10px;
  }
  .footer.active {
    display: none;
  }
  .menu_media_items {
    justify-content: center;
    bottom: 0;
    padding: 20px 0;
    display: flex;
    position: fixed;
    background: #fff;
    width: 100%;
    -webkit-box-shadow: -1px -3px 19px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -1px -3px 19px 0px rgba(34, 60, 80, 0.2);
    box-shadow: -1px -3px 19px 0px rgba(34, 60, 80, 0.2);
  }
  .menu_media_items .container nav {
    width: 100%;
  }
  .menu_media_items .container nav ul {
    display: flex;
    justify-content: space-between;
  }
  .menu_media_items .container nav ul li {
    width: 60px;
  }
  .menu_media_items .container nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    color: #a9abae;
  }
  .menu_media_items .container nav ul li a img {
    margin: 0 0 10px;
    width: 50%;
  }
  .menu_media_items .container nav ul li a:hover {
    color: #000;
  }
  .setting_items {
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    -webkit-box-shadow: -1px -3px 19px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -1px -3px 19px 0px rgba(34, 60, 80, 0.2);
    box-shadow: -1px -3px 19px 0px rgba(34, 60, 80, 0.2);
  }
  .setting_items button {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 15px 70px 15px 15px ;
    color: #212121;
    font-size: 20px;
  }
  .setting_items button img {
    margin-right: 15px;
    width: 30px;
  }
  .setting_items.active {
    display: block;
  }
  /*popups*/
  .popup_event {
    display: none;
  }
  .popup {
    padding: 10px 0;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .popup .container {
    flex-direction: column;
    align-items: flex-start;
  }
  .popup .container a {
    display: flex;
    padding: 15px 0;
    font-size: 20px;
    align-items: center;
  }
  .popup .container a img {
    width: 5%;
    margin-right: 15px;
  }
  .popup .container button {
    padding: 15px 0;
    align-items: center;
    display: flex;
    font-size: 23px;
    width: 100%;
    cursor: pointer;
  }
  .popup .container .location {
    font-size: 17px;
  }
  .popup .container .location img {
    width: 6%;
    margin-right: 15px;
  }
  .popup .container .location:before {
    content: '';
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 0;
    width: 5px;
    height: 1px;
    background: #615f5f;
    transform: rotate(-45deg);
  }
  .popup .container .location:after {
    content: '';
    cursor: pointer;
    position: absolute;
    top: 26px;
    right: 0;
    width: 5px;
    height: 1px;
    background: #615f5f;
    transform: rotate(45deg);
  }
  .popup .container .list {
    width: 100%;
    padding: 15px 0 0;
  }
  .popup .container .list ul li {
    border-bottom: 1px solid #ececec;
    position: relative;
  }
  .popup .container .list ul li a {
    font-size: 20px;
  }
  .popup .container .list ul li a img {
    width: 10%;
    margin-right: 15px;
  }
  .popup .container .list ul li a:before {
    content: '';
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 0;
    width: 5px;
    height: 1px;
    background: #615f5f;
    transform: rotate(-45deg);
  }
  .popup .container .list ul li a:after {
    content: '';
    cursor: pointer;
    position: absolute;
    top: 26px;
    right: 0;
    width: 5px;
    height: 1px;
    background: #615f5f;
    transform: rotate(45deg);
  }
  .menu_media {
    display: none;
    padding: 0 0 100px;
  }
  .menu_media .container {
    flex-direction: column;
    align-items: flex-start;
  }
  .menu_media .container h1 {
    padding: 20px 0;
  }
  .menu_media .container nav {
    width: 100%;
  }
  .menu_media .container nav ul li {
    border-top: 1px solid #ececec;
    position: relative;
  }
  .menu_media .container nav ul li a {
    display: flex;
    align-items: center;
    font-size: 20px;
  }
  .menu_media .container nav ul li a img {
    width: 10%;
    margin-right: 15px;
  }
  .menu_media .container nav ul li a:before {
    content: '';
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 0;
    width: 5px;
    height: 1px;
    background: #615f5f;
    transform: rotate(-45deg);
  }
  .menu_media .container nav ul li a:after {
    content: '';
    cursor: pointer;
    position: absolute;
    top: 26px;
    right: 0;
    width: 5px;
    height: 1px;
    background: #615f5f;
    transform: rotate(45deg);
  }
  .menu_media.active {
    display: flex;
  }
  .settings_media {
    display: none;
  }
  .settings_media.active {
    display: flex;
  }
  .settings_media.active span {
    width: 100%;
    background: #e3e2e2;
    height: 15px;
  }
  .add_activities {
    display: none;
  }
  .add_activities .container b {
    font-size: 23px;
  }
  .add_activities .container .list {
    padding: 25px 0 0;
  }
  .add_activities .container .list ul li {
    background: #e9ecf7;
    padding: 15px;
    border: none;
    margin: 0 0 15px;
  }
  .add_activities .container .list ul li a {
    padding: 0;
    position: relative;
  }
  .add_activities .container .list ul li a:before {
    top: 44px;
  }
  .add_activities .container .list ul li a:after {
    top: 40px;
  }
  .add_activities .container .list ul li p {
    margin: 15px 0 0 ;
    color: #929496;
    font-size: 15px;
  }
  .add_activities.active {
    width: 100%;
    display: flex;
  }
}
